/*fonts*/
@font-face {
    font-family: 'Lato';
    src: url();
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/Roboto\ Condensed\ Regular.ttf);
}


/*NavBar*/
.navbar-nav li .nav-link {
    font-family: 'Roboto Condensed';
    font-size: 1.4rem;
    font-weight: 700;
    color: #FFFFFF;
}
.navbar-nav li .nav-link.active{
    color: #FFFFFF;

}

.navbar-nav li .nav-link:hover {
    border-bottom: 4px solid #F7DC2E;
    color: #B247FF;
    background-color: #fff;
    border-radius: 2px;
}

.nav-item .dropdown-menu {
    color: #f8f0bd;
}
.dropdown-menu a {
    font-family: 'Lato';
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}

.dropdown-menu a:hover {
    background-color: #F7DC2E;
}

/*Cards*/
.card a, .card-title {
    text-decoration: none;
    color: black;
    font-family: 'Lato';
    font-size: 1.2rem;
    font-weight: 700;
}

.card-title:hover {
    color: #B247FF;
    border-bottom: 4px solid #F7DC2E;;
    display: inline;
}

.card img {
    border-radius: 5px;
}

.card img:hover {
    box-shadow: 0px 0px 21px 5px rgba(178,71,255,1);
}





/*footer*/
.footer {
    background-color: #B247FF;
    color:white;
    display: flex;
    font-family: 'Lato';
    font-size: 1rem;
}

.home-title p {
    text-align: left;
}

