/*fonts*/
@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato\ Regular.ttf);
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/Roboto\ Condensed\ Regular.ttf);
}


/*NavBar*/
.navbar-nav li .nav-link {
    font-family: 'Roboto Condensed';
    font-size: 1.4rem;
    font-weight: 700;
    color: #FFFFFF;
}
.navbar-nav li .nav-link.active{
    color: #FFFFFF;

}

.navbar-nav li .nav-link:hover {
    border-bottom: 4px solid #F7DC2E;
    color: #B247FF;
    background-color: #fff;
    border-radius: 2px;
}

.nav-item .dropdown-menu {
    color: #f8f0bd;
}
.dropdown-menu a {
    font-family: 'Robo Condensed';
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}

.dropdown-menu a:hover {
    background-color: #F7DC2E;
}

/*footer*/
.footer {
    background-color: #B247FF;
    color:white;
    display: flex;
    font-family: 'Lato';
    font-size: 1rem;
}

/*page content*/
h6 a {
    text-decoration: none;
    color: black;
    font-family: 'Lato';
}

h1, p {
    font-family: 'Lato';
}
h6 a:hover {
    color: #B247FF;
}
h1:hover {
    color: #B247FF;
    border-bottom-width: 100%;
    cursor: pointer;
}
