/*colors*/
:root {
  --primary-color: #b247ff;
  --secondary-color: #f7dc2e;
  --third-color: black;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: ;
  --default-font-family: ;
}

/*general*/
body {
  overflow-x: hidden;

}

.bg-light {
  --bs-bg-opacity: 0 !important;
}

/*fonts*/
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato\ Regular.ttf);
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto\ Condensed\ Regular.ttf);
}

/*NavBar*/
.navbar-background {
  background-color: var(--primary-color);
}

.navbar-nav li .nav-link {
  font-family: "Roboto Condensed";
  font-size: 1.4rem;
  font-weight: 700;
  color: #ffffff;
  border-bottom: 4px solid transparent;
}
.navbar-nav li .nav-link.active {
  color: #ffffff;
  border-bottom: 4px solid var(--secondary-color);
}

.navbar-nav li .nav-link:hover {
  border-bottom: 4px solid var(--secondary-color);
  color: var(--primary-color);
  background-color: #fff;
  border-radius: 2px;
}

.show {
  color: white !important;
}

.show:hover {
  color: var(--primary-color) !important;
}

.nav-item .dropdown-menu {
  color: #d5bdf8;
}
.dropdown-menu a {
  font-family: "Lato";
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--third-color);
}

.dropdown-menu a:hover {
  background-color: var(--secondary-color);
}

/*text style*/

p {
  font-family: "Lato";
}

a {
  color: var(--primary-color);
  font-family: "Lato";
}

a:hover {
  color: var(--third-color);
}

/*Cards*/
.card a,
.card-title {
  text-decoration: none;
  color: var(--third-color);
  font-family: "Lato";
  font-size: 1.2rem;
  font-weight: 700;
}

.card-title:hover {
  color: var(--primary-color);
  border-bottom: 4px solid var(--secondary-color);
  display: inline;
}

.card img {
  border-radius: 5px;
}

.photo-cristina {
  box-shadow: 0px 0px 5px 0px;
  border: none;
}

.card img:hover {
  box-shadow: 0px 0px 21px 5px var(--primary-color);
}

/*footer*/
/*alteração footer*/
.footer1 {
  --bs-gutter-x: 0;
}

.footer {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  font-family: "Lato";
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.home-title p {
  text-align: left;
}

.link-footer {
  color: white;
  text-decoration: none;
  padding: 0 3px;
}

.link-footer:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
