/*colors*/
:root {
  --primary-color: #b247ff;
  --secondary-color: #f7dc2e;
  --third-color: black;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: ;
  --default-font-family: ;
}

/*general*/
body {
  overflow-x: hidden;
}

.bg-light {
  --bs-bg-opacity: 0 !important;
}

/*fonts*/
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato\ Regular.ttf);
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto\ Condensed\ Regular.ttf);
}

/*NavBar*/
.navbar-background {
  background-color: var(--primary-color);
}

.navbar-nav li .nav-link {
  font-family: "Roboto Condensed";
  font-size: 1.4rem;
  font-weight: 700;
  color: #ffffff;
  border-bottom: 4px solid transparent;
}
.navbar-nav li .nav-link.active {
  color: #ffffff;
  border-bottom: 4px solid var(--secondary-color);
}

.navbar-nav li .nav-link:hover {
  border-bottom: 4px solid var(--secondary-color);
  color: var(--primary-color);
  background-color: #fff;
  border-radius: 2px;
}

.show {
  color: white !important;
}

.show:hover {
  color: var(--primary-color) !important;
}

.nav-item .dropdown-menu {
  color: #d5bdf8;
}
.dropdown-menu a {
  font-family: "Lato";
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--third-color);
}

.dropdown-menu a:hover {
  background-color: var(--secondary-color);
}

/*Cards
.card a,
.card-title {
  text-decoration: none;
  color: var(--third-color);
  font-family: "Lato";
  font-size: 1.2rem;
  font-weight: 700;
}

.card-title:hover {
  color: #b247ff;
  border-bottom: 4px solid var(--secondary-color);
  display: inline;
}

.card img {
  border-radius: 5px;
}

.card img:hover {
  box-shadow: 0px 0px 21px 5px var(--primary-color);
}*/

.card-title {
  font-weight: 800;
}
.card-link {
  color: #b247ff;
}
.card-link:hover {
  color: var(--third-color);
}

/*footer*/
/*alteração footer*/
.footer1 {
  --bs-gutter-x: 0;
}

.footer {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  font-family: "Lato";
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.link-footer {
  color: white;
  text-decoration: none;
  padding: 0 3px;
}

.link-footer:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

/*text style*/

h1,
p {
  font-family: "Lato";
}
h1 {
  border-bottom-width: 100%;
  text-transform: uppercase;
}

#article-link {
  font-size: small;
  font-weight: lighter;
  color: var(--primary-color);
  font-family: "Lato";
}

#article-link:hover {
  color: var(--third-color);
}

#curriculum-link {
  color: var(--primary-color);
}

#curriculum-link:hover {
  color: var(--third-color);
}

/*TRIBUNA*/

.button-tribuna a {
  color: white;
  text-decoration: none;
}

.button-tribuna a:hover {
  color: white;
  text-decoration: underline;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  font-family: "Lato";
  color: white;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color) !important;
}

/*PRESENCA*/

.afro-links a {
  color: white;
  text-decoration: none;
  font-family: "Lato";
}

.afro-links a:hover {
  color: white;
  text-decoration: underline;
}

.apoios p {
  font-size: 0.9rem;
}

.image-setubal {
  margin-left: 40px;
}

#subtitle-musicos {
  padding-left: 40px;
  font-size: 10px;
}

/*FEMINISMO*/

#subtitle-virginia {
  font-size: 10px;
}

/*JORNAL*/

.image-jornal {
  margin-left: 40px;
}

/*span {
  font-size: 0.8rem;
}*/

/**Artigos publico*/

.description p {
  font-family: "Lato";
}

.description a {
  color: var(--primary-color);
  font-family: "Lato";
}

.description a:hover {
  color: var(--third-color);
}

p {
  text-align: justify;
}

#sub-title {
  font-family: "Lato";
}

/*ENTREVISTAS*/

#interview-link {
  font-size: small;
  font-weight: 100;
  color: var(--primary-color);
  font-family: "Lato";
}

@media (max-width: 900px) {
  /*feminismo*/
  #subtitle-virginia {
    font-size: 9px;
  }
  #btn-artigos {
    margin-bottom: 30px;
  }
  #subtitle-musicos {
    font-size: 9px;
  }
  .subtitle-photos {
    font-size: 9px;
  }
  .afro-links a {
    font-size: 11px;
  }
  .footer {
    font-size: 9px;
  }
}
