/*fonts*/
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato\ Regular.ttf);
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto\ Condensed\ Regular.ttf);
}

/*NavBar*/
.navbar-nav li .nav-link {
  font-family: "Roboto Condensed";
  font-size: 1.4rem;
  font-weight: 700;
  color: #ffffff;
}
.navbar-nav li .nav-link.active {
  color: #ffffff;
}

.navbar-nav li .nav-link:hover {
  border-bottom: 4px solid #f7dc2e;
  color: #b247ff;
  background-color: #fff;
  border-radius: 2px;
}

.nav-item .dropdown-menu {
  color: #f8f0bd;
}
.dropdown-menu a {
  font-family: "Robo Condensed";
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}

.dropdown-menu a:hover {
  background-color: #f7dc2e;
}

/*footer*/
.footer {
  background-color: #b247ff;
  color: white;
  display: flex;
  font-family: "Lato";
  font-size: 1rem;
}

/*page content*/
h6 a {
  text-decoration: none;
  color: black;
  font-family: "Lato";
}

h1,
p {
  font-family: "Lato";
}
h6 a:hover {
  color: #b247ff;
}
h1:hover {
  color: #b247ff;
  border-bottom-width: 100%;
  cursor: pointer;
}

a {
  color: #b247ff;
  font-family: "Lato";
}

a:hover {
  color: black;
}
